.nav-shop li i{
  font-size: 32px;
}

.nav-shop li button .nav-shop__circle {
  font-size: 12px;
}

.card-product__imgOverlay li button i, .card-product__imgOverlay li button span {
  font-size: 28px;
}

.hero-banner {
  padding-bottom: 60px;
}

.header_area {
  position: fixed;
  top: 0px;
  z-index: 99999999;
  background-color: #fff;
}
