.nav-shop li i{
  font-size: 32px;
}

.nav-shop li button .nav-shop__circle {
  font-size: 12px;
}

.card-product__imgOverlay li button i, .card-product__imgOverlay li button span {
  font-size: 28px;
}

.hero-banner {
  padding-top: 60px;
  padding-bottom: 60px;
}

.header_area {
  position: fixed;
  top: 0px;
  z-index: 99999999;
  background-color: #fff;
}

.card-blog__title {
  color: #384aeb;
}

#author {
  padding: 150px;
}

#author img {
  max-width: 100%;
}

#author p {
  padding: 25% 0;
  text-align: left;
  font-size: 24px;
}

.notify {
  display: none;
}

.nav-shop li i, .nav-shop li span {
  color: #384aeb;
}

.btn-secondary {
  margin-top: 10px;
  background-color: #384aeb;
  border: none;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  background-color: #384aeb;
  border: none;
}

.error-mail, .error-pass, .error-pass-match {
  position: absolute;
  font-size: 15px;
  color: #384aeb;
}
